# version: '3'
services:
  magic:
    build: .
    ports:
      - 6789:6789
    environment:
      USER_CODE_PATH: /home/src/mage
      MAGE_PROJECT_NAME: agmarknet_weekly
      
      # THE MAGIC VARIABLE: This forces Mage to use your venv for all blocks
      MAGE_PYTHON_PATH: /opt/venv/bin/python3
      
      VIRTUAL_ENV: /opt/venv
      PATH: /opt/venv/bin:/usr/local/bin:/usr/bin:/bin
    env_file:
      - .env
    volumes:
      - .:/home/src